@model Station

<div class="card-box task-detail">
    <h4 class="font-600 m-b-20 text-danger">@Model.Name</h4>

    <ul class="list-inline task-dates m-b-0 m-t-20">
        <li>
            <h5 class="font-600 m-b-5">پروژه :</h5>
            <p> @Model.Project.Name</p>
        </li>

        <li>
            <h5 class="font-600 m-b-5">شماره سریال ایستگاه :</h5>
            <p>@Model.SerialNumber<small class="text-muted">@Model.Project.Code</small></p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">نوع ایستگاه :</h5>
            <p>@Model.StationType.Name</p>
        </li>

        <li>
            <h5 class="font-600 m-b-5">نوع دیتالاگر :</h5>
            <p>@Model.DataLogger.Name</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">نوع مودم :</h5>
            <p>@Model.ModemType.Name</p>
        </li>

        <li>
            <h5 class="font-600 m-b-5">شماره سیم کارت ایستگاه :</h5>
            <p>@Model.StationCardNumber</p>
        </li>

        <li>
            <h5 class="font-600 m-b-5">شناسه 2 محل :</h5>
            <p>@Model.LocationKeyTwo</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">شناسه 1 محل :</h5>
            <p>@Model.LocationKeyOne</p>
        </li>

        <li>
            <h5 class="font-600 m-b-5">عرض جغرافیایی محل :</h5>
            <p>@Model.Latitude</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">طول جغرافیایی محل :</h5>
            <p> @Model.Longitude</p>
        </li>

        <li>
            <h5 class="font-600 m-b-5">ارتفاع از سطح دریای محل :</h5>
            <p> @Model.AboveSeaLevel</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">نام متصدی ایستگاه :</h5>
            <p>@Model.OperatorName</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">تلفن متصدی ایستگاه :</h5>
            <p> @Model.OperatorPhonNO</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">کد ایستگاه :</h5>
            <p>@Model.StationCode</p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">تعداد پیامک های موجود :</h5>
            <p> @Model.SmsCount<small class="text-muted">عدد</small></p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">به روز رسانی ساعت ایستگاه :</h5>
            <p> <i class="zmdi zmdi-check-circle text-primary" style="font-size: 20px;"></i></p>
        </li>
        <li>
            <h5 class="font-600 m-b-5">به روز رسانی تنظیمات ایستگاه :</h5>
            <p> <i class="zmdi zmdi-check-circle text-primary" style="font-size: 20px;"></i></p>
        </li>
    </ul>
    <div class="clearfix"></div>

    <div class="buttonBox">
        <div class="label btn-group m-b-10">
            @{
                if (User.IsInRole("AdminiStratore") || User.IsInRole("StationTel"))
                {
                    <button data-toggle="tooltip" data-placement="top" title="تلفن" data-original-title="تلفن" class="btn btn-primary btn-trans waves-effect"><i class="zmdi zmdi-phone"></i></button>
                }

                if (User.IsInRole("AdminiStratore") || User.IsInRole("StationUpload"))
                {
                    <button data-toggle="tooltip" data-placement="top" title="فایل" data-original-title="فایل" class="btn btn-primary btn-trans waves-effect"><i class="zmdi zmdi-attachment-alt"></i></button>
                }
                if (User.IsInRole("AdminiStratore") || User.IsInRole("StationProject"))
                {
                    <button data-toggle="tooltip" data-placement="top" title="پروژه" data-original-title="پروژه" class="btn btn-primary btn-trans waves-effect"><i class="zmdi zmdi-brightness-4"></i></button>
                }
                if (User.IsInRole("AdminiStratore") || User.IsInRole("StationDelete"))
                {
                    <button onclick="Delete(@Model.Id)" data-toggle="tooltip" data-placement="top" title="حذف" data-original-title="حذف" class="btn btn-primary btn-trans waves-effect"><i class="zmdi zmdi-delete text-danger "></i></button>
                }
                if (User.IsInRole("AdminiStratore") || User.IsInRole("StationEdit"))
                {
                    <button onclick="Edit(@Model.Id)" data-toggle="tooltip" data-placement="top" title="ویرایش" data-original-title="ویرایش" class="btn btn-primary btn-trans waves-effect"><i class="zmdi zmdi-edit"></i></button>
                }
                if (User.IsInRole("AdminiStratore") || User.IsInRole("StationUser"))
                {
                    <button data-toggle="tooltip" data-placement="top" title="کاربران ایستگاه" data-original-title="کاربران ایستگاه" class="btn btn-primary btn-trans waves-effect"><i class="zmdi zmdi-account"></i></button>
                }
            }
        </div>
    </div>
</div> 