@using Weather.Data.Base;
@using System.Data;
@model DataTable

@Html.Raw(ViewBag.MyHtml)

<table id="datatable-buttons" class="table table-striped table-bordered text-center">
    <thead class="bg-whit">
        <tr class="sticky-top d-flex sticky-table-header">
            @{
                foreach (DataColumn item in Model.Columns)
                {
                    if (item.Caption == "DateTime")
                    {
                        <th>تاریخ</th>
                    }
                    else
                    {
                         <th>@item.Caption</th>
                    }
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow dr in Model.Rows)
            {

                <tr>
                    @{
                        foreach (DataColumn dc in Model.Columns)
                        {
                            if (dc.Caption == "DateTime")
                            {
                                if (ViewBag.DateType == "AllData")
                                {
                                    <td>@Convert.ToDateTime(dr[dc]).ToPeString("HH:mm:ss yyyy/MM/dd")</td>
                                }
                                else if (ViewBag.DateType == "DAY")
                                {
                                    <td>@Convert.ToDateTime(dr[dc]).ToPeString("18:30:00 yyyy/MM/dd")</td>
                                }
                                else
                                {
                                    <td>@Convert.ToDateTime(dr[dc]).ToPeString("18:30:00 yyyy/MM")</td>
                                }
                            }

                            else
                            {
                                if (ViewBag.DateType == "AllData")
                                {
                                    string data = dr[dc].ToString();
                                    if (string.IsNullOrEmpty(data))
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td style="@(data.dataState() ? "" : "background-color:#000000;color:#ff0000") ">
                                            @Math.Round(data.dataGetValue(), data.dataGetDigit())
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td> @dr[dc].ToString() </td>

                                }
                            }
                        }


                    }

                </tr>

            }
        }
    </tbody>
</table>