@model IEnumerable<SensorAlarmDetail>


<table id="datatable-buttons" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>پروژه</th>
            <th>ایستگاه</th>
            <th>آلارم</th>
            <th>سنسور</th>
            <th>حداقل/حداکثر</th>
            <th>مقدار</th>
            <th>فوری/مدت دار</th>
            <th>مدت تکرار</th>
            <th>آستانه بررسی مجدد</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @{

            if (Model.Count() == 0)
            {
                <h4 style="text-align:center;color:red">اطلاعاتی برای نمایش وجود ندارد</h4>
            }
            else
            {
                foreach (var item in Model)
                {
                <tr id="SensorAlarmDetailRow_@item.Id" class="@item.Alarm.AlarmColor">
                    <td>@item.Alarm.Station.Project.Name</td>
                    <td>@item.Alarm.Station.Name</td>
                    <td>@item.Alarm.AlarmName</td>
                    <td>@($"{item.SensorType.FaName}({item.SensorType.EnName})")</td>
                    <td>@(item.MinimumOrMaximum ? "حداقل" : "حداکثر")</td>
                    <td>@item.MinMaxValue</td>
                    <td>@(item.OnlineOrTimeDuration ? "فوری" : "مدت دار")</td>
                    <td>@item.TimeDuration</td>
                    <td>@item.Threshold</td>
                    <td>
                        @{
                            if (User.IsInRole("AdminiStratore") || User.IsInRole("DeleteSensorAlarmDetail"))
                            {
                                <button onclick="SensorAlarmDetail_Delete(@item.Id)" class="icon circle-icon red zmdi zmdi-delete" style="border: 2px solid red;color: red;background-color: #fff;"></button>
                            }
                            if (User.IsInRole("AdminiStratore") || User.IsInRole("EditSensorAlarmDetail"))
                            {
                                <button onclick="SensorAlarmDetail_Get(@item.Id,@item.SensorTypeId,@item.Alarm.StationId,@item.AlarmId)" class="icon circle-icon blue zmdi zmdi-edit m-r-10" style="border: 2px solid #188ae2;color: #188ae2;background-color: #fff;"></button>
                            }
                        }
                    </td>
                </tr>
                }
            }
        }
    </tbody>
</table>
